<?xml version='1.0' encoding='utf-8'?>

<widget 
    xmlns="http://www.w3.org/ns/widgets" 
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id="com.yourcompany.app" 
    version="1.0" 
    versionCode="100" >
    
    <name>app name</name>
    <description>Some description for app</description> 
    <author>Your Name</author>

    <content src="index.html" /> 
    <access origin="*" />
    
    <!-- preference configuration -->
    <preference name="phonegap-version" value="3.3.0" />
    <preference name="DisallowOverscroll" value="true"/> 
    
    <!-- Standard Cordova Plugins -->
    <gap:plugin name="org.apache.cordova.splashscreen" />
    
</widget>